@model ReactAspNetDemo.Models.HomeModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@Html.React("Components.TestComponent", new { src = "https://i.imgur.com/rRykLkj.jpeg" })